---
language: node_js
node_js:
  # we recommend testing addons with the same minimum supported node version as Ember CLI
  # so that your addon works for all apps
  - "10"

sudo: false
dist: trusty

cache: yarn

before_install:
  - yarn --version

script:
  - yarn run build
  - yarn run test-single-run
